      <footer id="footer" class="bg-gray-100">
        <div class="container">
          <div class="top flex flex-col md:flex-row items-start gap-y-[1.875rem] md:gap-y-0 md:items-center mb-[1.875rem] md:mb-20">
            <div class="column basis-full md:basis-1/2 logos">
              <a href="#" class="logo">Oregon History Project</a>
              <a href="#" title="OHS"><img src="./img/OHS-logo.svg" alt="OHS" /></a>
            </div>
            <div class="column basis-full w-full md:w-auto md:basis-1/2">
              <ul class="menu">
                <li><a href="#">Historical Records</a></li>
                <li><a href="#">Curator Collections</a></li>
                <li><a href="#">Narratives</a></li>
                <li><a href="#">Educator Guide</a></li>
                <li><a href="#">Curator Articles</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="bottom flex flex-col-reverse md:flex-row items-start md:items-center">
            <div class="column basis-full md:basis-1/2">
              <p class="copyright mb-0">&copy;2021 The Oregon History Project</p>
            </div>
            <div class="column basis-full md:basis-1/2 flex items-center">
              <a href="#" class="mr-6 shrink-0 hidden md:block"><img src="./img/Ford-Family-Foundation.svg" width="124" height="46" /></a>
              <p class="mb-[0.938rem] md:mb-0">The Oregon History Project is supported by the Ford Family Foundation. This project has been funded in part by the <a href="#">Oregon Heritage Commission</a> and the <a href="#">Oregon Cultural Trust</a>.</p>
            </div>
          </div>
        </div>
      </footer><!-- End of footer -->
    </div><!-- End of inner-main-->
    </main><!-- End of #main -->
  </div><!-- End of #root -->
</body>
<script src="./assets/js/lightgallery.min.js"></script>
<script src="./assets/js/main.js"></script>
</html>