/*
! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #8E9396;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #E1E5E5;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #E1E5E5;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #E1E5E5;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  height: 3.75rem;
  width: 100%;
  justify-content: center;
  border-width: 1px;
  border-bottom-color: rgb(255 255 255 / 0.2);
  --tw-bg-opacity: 1;
  background-color: rgb(68 83 92 / var(--tw-bg-opacity));
}

@media (min-width: 1280px) {
  #header {
    height: 100%;
  }

  #header {
    width: 3.75rem;
  }

  #header {
    border-style: none;
  }

  #header {
    background-color: transparent;
  }
}

#header.sticky {
  --tw-bg-opacity: 1;
  background-color: rgb(68 83 92 / var(--tw-bg-opacity));
}

@media (min-width: 1280px) {
  #header.sticky {
    background-color: transparent;
  }
}

#header > .container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#header .site-title {
  position: absolute;
  left: 1.75rem;
  top: 50%;
  margin-top: -0.625rem;
  width: 10.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1280px) {
  #header .site-title {
    left: -50px;
  }

  #header .site-title {
    top: 120px;
  }

  #header .site-title {
    margin-top: 0px;
  }

  #header .site-title {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  #header .site-title {
    opacity: 0.1;
  }

  #header.dark .site-title {
    --tw-text-opacity: 1;
    color: rgb(68 83 92 / var(--tw-text-opacity));
  }

  #header.dark .site-title {
    opacity: 1;
  }
}

#header .site-title a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#header .nav-toggle {
  position: absolute;
  top: 50%;
  left: inherit;
  right: 1.75rem;
  z-index: 2;
  margin-top: -0.406rem;
  margin-left: -0.75rem;
  height: 0.625rem;
  width: 1.75rem;
}

@media (min-width: 1280px) {
  #header .nav-toggle {
    right: 0px;
  }

  #header .nav-toggle {
    left: 50%;
  }

  #header .nav-toggle {
    height: 0.813rem;
  }

  #header .nav-toggle {
    width: 1.5rem;
  }
}

#header .nav-toggle .bars {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#header .nav-toggle .bars span {
  display: block;
  height: 2px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1280px) {
  #header .nav-toggle .bars span {
    height: 1px;
  }

  #header.dark .nav-toggle .bars span {
    --tw-bg-opacity: 1;
    background-color: rgb(68 83 92 / var(--tw-bg-opacity));
  }
}

#header .nav-toggle .bars span.mid {
  display: none;
}

@media (min-width: 1280px) {
  #header .nav-toggle .bars span.mid {
    display: block;
  }
}

#header .search-toggle {
  position: absolute;
  top: 50%;
  left: inherit;
  right: 4.75rem;
  z-index: 2;
  margin-top: -0.75rem;
  height: 1.5rem;
  width: 1.5rem;
}

@media (min-width: 1280px) {
  #header .search-toggle {
    left: 50%;
  }

  #header .search-toggle {
    margin-top: -4.406rem;
  }

  #header .search-toggle {
    margin-left: -0.75rem;
  }

  #header.dark .search-toggle svg * {
    stroke: #44535C;
  }
}

#header .line {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
  height: 100%;
  width: 1px;
  background-color: rgb(68 83 92 / 0.2);
}

@media (min-width: 1280px) {
  #header .line {
    display: block;
  }
}

#header .line .scrollbar{
  /*transition: background-color .2s ease-in-out;*/
  display: block;
  height: 100%;
  transform-origin: center top;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1280px) {
  #header.dark .line .scrollbar {
    --tw-bg-opacity: 1;
    background-color: rgb(68 83 92 / var(--tw-bg-opacity));
  }
}

#header .main-navigation .site-title {
  position: absolute;
  left: 1.75rem;
  top: 50%;
  margin-top: -0.625rem;
  width: 10.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#header .main-navigation .site-title a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#header .main-navigation {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: -100%;
  z-index: 20;
  height: 100%;
  width: 100vw;
  --tw-bg-opacity: 1;
  background-color: rgb(35 45 51 / var(--tw-bg-opacity));
  opacity: 0;
  transition-property: all;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1280px) {
  #header .main-navigation {
    position: absolute;
  }
}

#header .main-navigation.menu-shown {
  visibility: visible;
  left: 0px;
  opacity: 1;
}

#header .main-navigation .container {
  display: block;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5.5rem;
}

@media (min-width: 1024px) {
  #header .main-navigation .container {
    display: flex;
  }

  #header .main-navigation .container {
    width: 100%;
  }

  #header .main-navigation .container {
    overflow-y: visible;
  }

  #header .main-navigation .container {
    padding-top: 12.313rem;
  }
}

@media (min-width: 1280px) {
  #header .main-navigation .container {
    width: 75%;
  }

  #header .main-navigation .container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  #header .main-navigation .container {
    padding-top: 0px;
  }
}

#header .main-navigation header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  height: 3.75rem;
  width: 100%;
  justify-content: flex-end;
  border-bottom-width: 1px;
  border-bottom-color: rgb(255 255 255 / 0.2);
  --tw-bg-opacity: 1;
  background-color: rgb(35 45 51 / var(--tw-bg-opacity));
  padding-top: 0px;
}

@media (min-width: 1280px) {
  #header .main-navigation header {
    position: relative;
  }

  #header .main-navigation header {
    height: auto;
  }

  #header .main-navigation header {
    border-style: none;
  }

  #header .main-navigation header {
    background-color: transparent;
  }

  #header .main-navigation header {
    padding-top: 3.375rem;
  }
}

#header .main-navigation header .close {
  margin-right: 1.75rem;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media (min-width: 1280px) {
  #header .main-navigation header .close {
    margin-right: 0px;
  }
}

#header .main-navigation header .close .text {
  margin-right: 2.125rem;
  display: none;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  --tw-text-opacity: 1;
  color: rgb(131 141 147 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
  #header .main-navigation header .close .text {
    display: block;
  }
}

#header .main-navigation header .close:hover .text {
  --tw-text-opacity: 1;
  color: rgb(211 185 96 / var(--tw-text-opacity));
}

#header .main-navigation header .close:hover svg path {
  stroke: #D3B960;
}

#header .main-navigation .menu-container {
  margin-bottom: 1.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

@media (min-width: 1024px) {
  #header .main-navigation .menu-container {
    margin-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  #header .main-navigation .menu-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#header .main-navigation .menu-container .menu {
  margin: 0px;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  -moz-column-gap: 4.625rem;
       column-gap: 4.625rem;
  row-gap: 1.75rem;
  padding: 0px;
}

@media (min-width: 768px) {
  #header .main-navigation .menu-container .menu {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  #header .main-navigation .menu-container .menu {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  #header .main-navigation .menu-container .menu {
    row-gap: 3.313rem;
  }
}

#header .main-navigation .menu-container .menu a {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(225 229 229 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#header .main-navigation .menu-container .menu a:hover {
  --tw-text-opacity: 1;
  color: rgb(211 185 96 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  #header .main-navigation .menu-container .menu a {
    font-size: 2rem;
  }
}

#header .main-navigation .menu-container .menu span {
  margin-top: 0.125rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(173 181 185 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
  #header .main-navigation .menu-container .menu span {
    margin-top: 0.75rem;
  }
}

#header .main-navigation footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.438rem;
}

@media (min-width: 1024px) {
  #header .main-navigation footer {
    flex-direction: row;
  }

  #header .main-navigation footer {
    align-items: center;
  }

  #header .main-navigation footer {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  #header .main-navigation footer {
    padding-bottom: 7.813rem;
  }
}

#header .main-navigation footer .btn-wrap {
  margin-bottom: 2rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

@media (min-width: 1024px) {
  #header .main-navigation footer .btn-wrap {
    margin-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  #header .main-navigation footer .btn-wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#header .main-navigation footer .text-wrap {
  display: flex;
  flex-direction: column;
  border-top-width: 1px;
  border-top-color: rgb(255 255 255 / 0.2);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.75rem;
}

@media (min-width: 768px) {
  #header .main-navigation footer .text-wrap {
    flex-direction: row;
  }

  #header .main-navigation footer .text-wrap {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  #header .main-navigation footer .text-wrap {
    border-top-width: 0px;
  }

  #header .main-navigation footer .text-wrap {
    padding-top: 0px;
  }
}

@media (min-width: 1280px) {
  #header .main-navigation footer .text-wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#header .main-navigation footer .text-wrap p {
  margin-bottom: 0px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(173 181 185 / var(--tw-text-opacity));
}

.logo-wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
}

.logo-wrap .container {
  position: relative;
}

.logo-wrap a {
  position: absolute;
  left: 1.75rem;
  display: inline-block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.logo-wrap .site-title {
  margin-bottom: 0.813rem;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.logo-wrap .tag-line {
  display: block;
  width: 7.5rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.logo-wrap .logo.dark .site-title, .logo-wrap .logo.dark .tag-line {
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

#footer {
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;
}

@media (min-width: 768px) {
  #footer {
    padding-bottom: 3rem;
  }

  #footer {
    padding-top: 3.375rem;
  }
}

#footer .copyright {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  line-height: 1.4;
  --tw-text-opacity: 1;
  color: rgb(161 181 181 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  #footer .copyright {
    font-size: 0.813rem;
  }

  #footer .copyright {
    line-height: 1.3;
  }
}

#footer p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  line-height: 1.4;
  --tw-text-opacity: 1;
  color: rgb(173 181 185 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  #footer p {
    line-height: 1.3;
  }
}

#footer p a {
  --tw-text-opacity: 1;
  color: rgb(173 181 185 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#footer .menu {
  margin: 0px;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0px;
}

@media (min-width: 768px) {
  #footer .menu {
    row-gap: 0.5rem;
  }
}

@media (min-width: 1024px) {
  #footer .menu {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #footer .menu {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

@media (min-width: 1280px) {
  #footer .menu {
    -moz-column-gap: 3.625rem;
         column-gap: 3.625rem;
  }
}

#footer .menu li a {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(225 229 229 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#footer .menu li a:hover {
  --tw-text-opacity: 1;
  color: rgb(211 185 96 / var(--tw-text-opacity));
}

#footer .logo {
  margin-bottom: 0px;
  display: block;
  width: 6.25rem;
  font-size: 1.387rem;
  font-weight: 500;
  line-height: 1.1;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#footer .logos {
  display: flex;
  align-items: center;
}

#footer .logos a {
  margin-right: 1rem;
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 207 / var(--tw-border-opacity));
  padding-right: 1rem;
}

#footer .logos a:last-child {
  margin-right: 0px;
  border-width: 0px;
  padding-right: 0px;
}

#main{
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  height: 100%;
  overflow: hidden;
  font-family: "Clavo", serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  font-family: "Clavo", serif;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

#root {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body.menu-shown {
  height: 100vh !important;
  overflow: hidden !important;
}

.h1, h1 {
  margin-bottom: 0.375rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h1, h1 {
    font-size: 3rem;
    line-height: 1;
  }
}

.h2, h2 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h2, h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.h3, h3 {
  margin-bottom: 1.125rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h3, h3 {
    font-size: 2rem;
  }
}

.h4, h4 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h4, h4 {
    font-size: 1.375rem;
  }
}

.h5, h5 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

p, li {
  font-family: "Clavo", serif;
  font-size: 0.938rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  p, li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

p a {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

p a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

strong, b {
  font-weight: 700 !important;
}

em, i:not([class]) {
  font-style: italic;
}

p, ul, ol {
  margin-bottom: 1rem;
}

ul{
  list-style-type: disc;
  padding-left: 1.75rem;
}

ul.alt li {
  font-family: "Proxima Nova", sans-serif;
}

ol{
  list-style-type: decimal;
  padding-left: 1.75rem;
}

iframe {
  width: 100%;
}

sup, sub {
  font-size: 65%;
  font-weight: 400;
}

/*
    .page-content{
        @apply grid-flow-col;
    }

    .page-content .content{
        @apply relative;
    }

    .page-content a:not([class]){
        @apply decoration-aqua underline hover:text-aqua;
    }
*/

.support {
  font-family: "Clavo", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.lg-backdrop.in {
  opacity: 0.8 !important;
}

.lg-img-wrap img {
  max-height: 80vh !important;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

/* base.css */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1256px) {
  .container {
    max-width: 1256px;
  }
}

.btn {
  display: inline-block;
  border-width: 2px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.844rem;
  padding-bottom: 0.844rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  line-height: 1;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.btn.outline-white {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(68 83 92 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(225 229 229 / var(--tw-text-opacity));
}

.btn.outline-white:hover {
  --tw-border-opacity: 1;
  border-color: rgb(191 63 39 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.btn.outline-gray {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(68 83 92 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.btn.outline-gray:hover {
  --tw-border-opacity: 1;
  border-color: rgb(191 63 39 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.btn.medium {
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1;
}

.btn-link {
  display: flex;
  align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.btn-link .text {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.btn-link:hover .text {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.btn-link:hover svg * {
  stroke: #BF3F27;
}

.btn-link.alt .text {
  font-family: "Clavo", serif;
  text-transform: none;
  letter-spacing: 0em;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.btn-link.alt:hover .text {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.search-form {
  position: relative;
}

.search-form input[type="text"] {
  width: 100%;
  border-width: 0px;
  padding-top: 0.469rem;
  padding-bottom: 0.469rem;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .search-form input[type="text"] {
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
  }

  .search-form input[type="text"] {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  .search-form input[type="text"] {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.search-form input[type="text"]::-webkit-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.search-form input[type="text"]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.search-form input[type="text"]:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.search-form input[type="text"]:-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.search-form input[type="submit"] {
  position: absolute;
  top: 50%;
  left: 0.469rem;
  margin-top: -0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  background-image: url('./img/icons/icon-search.svg');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -999px;
}

@media (min-width: 768px) {
  .search-form input[type="submit"] {
    left: 0.875rem;
  }

  .search-form input[type="submit"] {
    background-size: contain;
  }
}

.form-default .form-heading {
  font-family: "Clavo", serif;
  font-size: 0.938rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(35 45 51 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .form-default .form-heading {
    font-size: 0.938rem;
  }
}

.form-default label:not(.input-label), .form-default .label:not(.input-label) {
  display: block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(35 45 51 / var(--tw-text-opacity));
}

.form-default input[type="text"], .form-default input[type="email"], .form-default input[type="tel"], .form-default input[type="number"], .form-default select {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(173 181 185 / var(--tw-border-opacity));
  padding-left: 0.813rem;
  padding-right: 0.813rem;
  padding-top: 0.531rem;
  padding-bottom: 0.531rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form-default .input-label {
  display: block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: rgb(35 45 51 / var(--tw-text-opacity));
}

.form-default input[type="checkbox"] {
  margin-top: 0.375rem;
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  accent-color: #BF3F27;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form-default select {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('./img/icons/dropdown-arrow.svg');
  background-position: center right 1rem;
  background-repeat: no-repeat;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.page-banner {
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-banner .container {
  display: flex;
  flex-direction: column;
}

.page-banner .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-banner .suggested {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .page-banner .suggested {
    font-size: 1.063rem;
  }
}

.page-banner .suggested span {
  margin-right: 1rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .page-banner .suggested span {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.page-banner .subhead {
  display: block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .page-banner .subhead {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.page-banner .by {
  font-size: 0.813rem;
}

@media (min-width: 768px) {
  .page-banner .by {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.page-banner .background .image-col {
  position: relative;
  overflow: hidden;
}

.page-banner .background .image-col img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page-banner .heading.h3 {
  font-weight: 600 !important;
}

@media (min-width: 1024px) {
  .page-banner .heading.h3 {
    font-weight: 700 !important;
  }
}

.card {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card .image {
  position: relative;
  display: block;
  overflow: hidden;
}

.card .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card .image.auto img {
  position: relative;
  top: 0px;
  left: 0px;
  --tw-translate-x: 0px;
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.card a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card.v1 .image {
  height: 11.25rem;
}

@media (min-width: 768px) {
  .card.v1 .image {
    height: 13.813rem;
  }
}

.card.v1 .title {
  font-size: 1.125rem;
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .card.v1 .title {
    font-size: 1.375rem;
  }
}

.card.v2 .image {
  height: 7.875rem;
}

@media (min-width: 768px) {
  .card.v2 .image {
    height: 7.875rem;
  }
}

.card.v2 .title {
  font-size: 1.063rem;
  --tw-text-opacity: 1;
  color: rgb(173 181 185 / var(--tw-text-opacity));
}

.card.v2:hover .title {
  --tw-text-opacity: 1;
  color: rgb(211 185 96 / var(--tw-text-opacity));
}

.card.v3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.v3 .details {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .card.v3 .details {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.card.v3 .image {
  height: 9rem;
}

@media (min-width: 768px) {
  .card.v3 .image {
    height: 13.75rem;
  }
}

.card.v4 .image {
  margin-bottom: 1.875rem;
}

.card.v4 .details {
  position: relative;
  padding-right: 2.5rem;
}

@media (min-width: 768px) {
  .card.v4 .details {
    padding-right: 5.375rem;
  }
}

.card.v4 .title {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.card.v4 p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .card.v4 p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.card.v4 .circle-icon {
  position: absolute;
  top: -0.875rem;
  right: 0px;
  z-index: 1;
}

.card.v5 {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  margin-bottom: 2.063rem;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 2.125rem;
       column-gap: 2.125rem;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(212 212 207 / var(--tw-border-opacity));
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.5rem;
}

@media (min-width: 768px) {
  .card.v5 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .card.v5 {
    margin-bottom: 2.875rem;
  }

  .card.v5 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card.v5:last-child {
  margin-bottom: 0px;
}

.card.v5 .image {
  display: none;
  flex-shrink: 0;
  flex-basis: 10.063rem;
}

@media (min-width: 768px) {
  .card.v5 .image {
    display: block;
  }
}

.card.v5 .details {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .card.v5 .details {
    flex-basis: auto;
  }
}

.card.v5 h2 {
  font-size: 1.25rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .card.v5 h2 {
    font-size: 1.375rem;
  }
}

.card.v5 h2 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card.v5 .posted-by {
  display: block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 1.1;
  --tw-text-opacity: 1;
  color: rgb(161 181 181 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .card.v5 .posted-by {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.card.v5 p {
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.card.v5 .tags {
  display: block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .card.v5 .tags {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .card.v5 .tags {
    --tw-text-opacity: 1;
    color: rgb(142 147 150 / var(--tw-text-opacity));
  }
}

.card.v6 {
  display: flex;
}

@media (min-width: 768px) {
  .card.v6 {
    min-height: 11.25rem;
  }
}

.card.v6 .details {
  flex-basis: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(211 185 96 / var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .card.v6 .details {
    flex-basis: auto;
  }
}

.card.v6 .details .title {
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.card.v6 .details p {
  margin-bottom: 0px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.card.v6 .image {
  display: none;
  min-height: 11.25rem;
  flex-shrink: 0;
  flex-basis: 11.25rem;
}

@media (min-width: 768px) {
  .card.v6 .image {
    display: block;
  }
}

.card.v7 .image {
  height: 12.875rem;
}

@media (min-width: 1024px) {
  .card.v7 .image {
    height: 19.688rem;
  }
}

.card.v7 .title {
  font-size: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .card.v7 .title {
    font-size: 1.375rem;
  }
}

.card.v7 .title a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card.v7 p {
  margin-bottom: 0px;
}

.card.v8 {
  margin-bottom: 2.5rem;
}

@media (min-width: 1024px) {
  .card.v8 {
    margin-bottom: 5.063rem;
  }
}

.card.v8:last-child {
  margin-bottom: 0px;
}

.card.v8 .image {
  height: 22.5rem;
}

.card.v8 .image-caption {
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.card.v8 .title-wrap {
  position: relative;
  padding-left: 1.5rem;
  padding-bottom: 0px;
}

@media (min-width: 1024px) {
  .card.v8 .title-wrap {
    padding-left: 9.875rem;
  }

  .card.v8 .title-wrap {
    padding-right: 2.5rem;
  }

  .card.v8 .title-wrap {
    padding-bottom: 3rem;
  }
}

.card.v8 .title-wrap .title {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.card.v8 .title-wrap .number {
  position: absolute;
  left: -3.5rem;
  bottom: 50%;
  margin-bottom: -4.688rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 9.375rem;
  font-weight: 300;
  line-height: 1;
  color: rgb(68 83 92 / 0.1);
}

@media (min-width: 1024px) {
  .card.v8 .title-wrap .number {
    left: 0px;
  }

  .card.v8 .title-wrap .number {
    bottom: -1rem;
  }

  .card.v8 .title-wrap .number {
    margin-bottom: 0px;
  }

  .card.v8 .title-wrap .number {
    font-size: 12.5rem;
  }
}

.card.v8 .image-wrap {
  margin-bottom: 2.125rem;
}

@media (min-width: 1024px) {
  .card.v8 .image-wrap {
    margin-bottom: 0px;
  }
}

.card.v9 {
  display: flex;
  align-items: flex-start;
}

.card.v9 .image {
  height: 6.125rem;
  width: 100%;
  flex-shrink: 0;
  flex-basis: 6.875rem;
}

.card.v9 .details {
  margin-left: 1.25rem;
  flex-basis: auto;
}

.card.v9 .number {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.card.v9 .title {
  font-size: 0.938rem;
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.card.v9.active .title {
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.card.v10 {
  margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
  .card.v10 {
    margin-bottom: 3.375rem;
  }
}

.card.v10 .title {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.card.v10 p {
  max-width: 43.75rem;
}

.card .tags {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.card .tags a, .card .tags span {
  display: inline-block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card.v10 .tags .separator {
  margin-left: 0.938rem;
  margin-right: 0.938rem;
}

.card.v11 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5.8%;
       column-gap: 5.8%;
}

@media (min-width: 1024px) {
  .card.v11 {
    margin-bottom: 4.375rem;
  }
}

.card.v11:last-child {
  margin-bottom: 0px;
}

.card.v11 .image {
  margin-bottom: 1.25rem;
  flex-basis: 100%;
}

@media (min-width: 1024px) {
  .card.v11 .image {
    margin-bottom: 0px;
  }

  .card.v11 .image {
    flex-basis: 50%;
  }
}

.card.v11 .image img {
  height: auto;
  max-height: 43.75rem;
  width: auto;
}

@media (min-width: 1024px) {
  .card.v11 .image img {
    max-height: 100%;
  }
}

.card.v11 .details {
  flex-basis: 100%;
}

@media (min-width: 1024px) {
  .card.v11 .details {
    flex-basis: 44.2%;
  }
}

.card.v11 .title {
  margin-top: -0.375rem;
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.card.v12 .title {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.card.v12 .image {
  height: 12.875rem;
}

@media (min-width: 768px) {
  .card.v12 .image {
    height: 13.813rem;
  }
}

.card.v12.big .image {
  height: 12.875rem;
}

@media (min-width: 768px) {
  .card.v12.big .image {
    height: 13.813rem;
  }
}

@media (min-width: 1024px) {
  .card.v12.big .image {
    height: 38.188rem;
  }
}

.card.v12.big .image h2 {
  font-size: 1.375rem !important;
}

@media (min-width: 1024px) {
  .card.v12.big .image h2 {
    font-size: 2rem !important;
  }
}

.card.v12 p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(35 45 51 / var(--tw-text-opacity));
}

.card.v13 {
  max-width: none;
}

@media (min-width: 768px) {
  .card.v13 {
    max-width: 31.25rem;
  }
}

@media (min-width: 1024px) {
  .card.v13 {
    max-width: none;
  }
}

.card.v13 .image {
  position: relative;
  height: 25rem;
}

.card.v13 .image:after{
  content: '';
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0.5rem;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(191 63 39 / var(--tw-bg-opacity));
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card.v13:hover .image:after {
  visibility: visible;
  opacity: 1;
}

.card.v13 .image .square-icon {
  visibility: hidden;
  position: absolute;
  right: 0px;
  bottom: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(191 63 39 / var(--tw-bg-opacity));
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card.v13:hover .image .square-icon {
  visibility: visible;
  opacity: 1;
}

.card.v13 .title {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(35 45 51 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
  .card.v13 .title {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card.v13 .title span {
  font-weight: 400;
}

.card.v14 .image {
  height: 13.625rem;
}

.card.v14 .image .square-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(191 63 39 / var(--tw-bg-opacity));
}

.masonry {
  width: 100% !important;
  overflow: hidden !important;
}

/*.masonry .grid-item,
    .masonry .grid-sizer{
        @apply w-[34%];
    }
    .masonry .gutter-sizer{
        @apply w-[10%];
    }
    .masonry .grid-item{
        @apply mb-[4.875rem];
    }*/

@media (max-width: 959px){
  .carousel-articles .owl-item {
    width: 17.813rem !important;
  }

  .carousel-narratives .owl-item {
    width: 12.5rem !important;
  }
}

.carousel-curator .owl-nav {
  display: block !important;
}

.carousel-curator .owl-nav button {
  position: absolute !important;
  top: 50% !important;
  margin-top: -3.125rem !important;
  display: flex !important;
  height: 3.125rem !important;
  width: 3.125rem !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0px !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(191 63 39 / var(--tw-bg-opacity)) !important;
}

.carousel-curator .owl-nav button.owl-prev {
  left: 0.75rem;
}

@media (min-width: 1280px) {
  .carousel-curator .owl-nav button.owl-prev {
    left: 4.375rem;
  }
}

.carousel-curator .owl-nav button.owl-next {
  right: 0.75rem;
}

.record-detail-head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.record-detail-head .mid {
  min-height: 8.75rem;
}

@media (min-width: 768px) {
  .record-detail-head .mid {
    min-height: 15.5rem;
  }
}

.record-detail-head .image {
  position: absolute;
  bottom: 0px;
  display: flex;
  height: 20.438rem;
  width: 100%;
  justify-content: center;
  border-width: 0.5px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgb(245 104 205 / var(--tw-border-opacity));
}

@media (min-width: 768px) {
  .record-detail-head .image {
    height: 37.563rem;
  }
}

.record-detail-head .image a {
  position: relative;
  display: inline-block;
}

.record-detail-head .image a img {
  max-height: 100%;
  width: auto;
}

.record-detail-head .image .square-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(191 63 39 / var(--tw-bg-opacity));
}

.page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-intro p:last-child {
  margin-bottom: 0px;
}

.tabs {
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
}

.tabs.v1 li {
  position: relative;
  margin-bottom: 0.875rem;
}

.tabs.v1 li a {
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.tabs.v1 li a:hover {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(191 63 39 / var(--tw-border-opacity));
}

.tabs.v1 li.active a {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(191 63 39 / var(--tw-border-opacity));
}

.tabs.v1 li.active:after{
  content: '';
  position: absolute;
  top: 50%;
  right: -2.875rem;
  margin-top: -0.438rem;
  display: block;
  height: 0.875rem;
  width: 0.875rem;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-color: rgb(161 181 181 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-right-color: rgb(161 181 181 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.tabs.v2{
}

.tabs.v2 li {
  margin-right: 0px;
  margin-bottom: 0px;
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media (min-width: 1024px) {
  .tabs.v2 li {
    margin-right: 1.25rem;
  }

  .tabs.v2 li {
    margin-bottom: 1.25rem;
  }

  .tabs.v2 li {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.tabs.v2 li a {
  display: block;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(68 83 92 / var(--tw-border-opacity));
  padding-top: 0.594rem;
  padding-bottom: 0.594rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.938rem;
  line-height: 1;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.tabs.v2 li a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(68 83 92 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(225 229 229 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
  .tabs.v2 li a {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .tabs.v2 li a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .tabs.v2 li a {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.tabs.v2 li.active a {
  --tw-bg-opacity: 1;
  background-color: rgb(68 83 92 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(225 229 229 / var(--tw-text-opacity));
}

.tabs.v3 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: rgb(68 83 92 / 0.2);
  border-bottom-color: rgb(68 83 92 / 0.2);
  padding-top: 1.438rem;
  padding-bottom: 1.438rem;
}

@media (min-width: 1024px) {
  .tabs.v3 {
    display: flex;
  }

  .tabs.v3 {
    justify-content: space-between;
  }
}

.tabs.v3 li {
  display: inline-block;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .tabs.v3 li {
    display: block;
  }
}

.tabs.v3 li a {
  display: block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.tabs.v3 li a:hover {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.tabs.v3 li.active a {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.tab-contents .tab-content {
  display: none;
}

.tab-contents .tab-content.active {
  display: block;
}

.page-nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1.375rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media (min-width: 768px) {
  .page-nav {
    align-items: flex-start;
  }

  .page-nav {
    padding-top: 0px;
  }
}

.page-nav .text span {
  display: block;
}

.page-nav .text .label {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-bottom: 0.25rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .page-nav .text .label {
    position: relative;
  }
}

.page-nav .text .title {
  margin-bottom: 0px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.page-nav.prev .text .title {
  display: none !important;
}

@media (min-width: 768px) {
  .page-nav.prev .text .title {
    display: block !important;
  }
}

.page-nav.next {
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .page-nav.next {
    flex-direction: row;
  }
}

.page-nav.next .text .title {
  max-width: 10.625rem;
}

@media (min-width: 768px) {
  .page-nav.next .text .title {
    max-width: none;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.top-0 {
  top: 0px;
}

.left-0 {
  left: 0px;
}

.right-\[inherit\] {
  right: inherit;
}

.top-\[inherit\] {
  top: inherit;
}

.z-\[2\] {
  z-index: 2;
}

.z-\[1\] {
  z-index: 1;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mr-2\.5 {
  margin-right: 0.625rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-\[0\.438rem\] {
  margin-bottom: 0.438rem;
}

.mt-\[1\.875rem\] {
  margin-top: 1.875rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-\[2\.125rem\] {
  margin-bottom: 2.125rem;
}

.ml-1\.5 {
  margin-left: 0.375rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.mt-0 {
  margin-top: 0px;
}

.ml-2\.5 {
  margin-left: 0.625rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-\[1\.875rem\] {
  margin-bottom: 1.875rem;
}

.mb-\[3\.125rem\] {
  margin-bottom: 3.125rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-\[0\.938rem\] {
  margin-bottom: 0.938rem;
}

.mb-\[0\.813rem\] {
  margin-bottom: 0.813rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mr-0 {
  margin-right: 0px;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mb-3\.5 {
  margin-bottom: 0.875rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-0 {
  margin-left: 0px;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-\[1\.438rem\] {
  margin-bottom: 1.438rem;
}

.mb-\[2\.375rem\] {
  margin-bottom: 2.375rem;
}

.mb-\[2\.313rem\] {
  margin-bottom: 2.313rem;
}

.mb-\[0\.688rem\] {
  margin-bottom: 0.688rem;
}

.ml-3\.5 {
  margin-left: 0.875rem;
}

.mb-\[1\.625rem\] {
  margin-bottom: 1.625rem;
}

.mt-\[6\.375rem\] {
  margin-top: 6.375rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.\!hidden {
  display: none !important;
}

.h-\[15\.5rem\] {
  height: 15.5rem;
}

.h-full {
  height: 100%;
}

.min-h-\[16\.25rem\] {
  min-height: 16.25rem;
}

.min-h-\[18\.125rem\] {
  min-height: 18.125rem;
}

.min-h-0 {
  min-height: 0px;
}

.min-h-\[9\.25rem\] {
  min-height: 9.25rem;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.w-\[20px\] {
  width: 20px;
}

.\!w-\[50\%\] {
  width: 50% !important;
}

.\!w-\[40\%\] {
  width: 40% !important;
}

.w-10 {
  width: 2.5rem;
}

.w-2\.5 {
  width: 0.625rem;
}

.w-2 {
  width: 0.5rem;
}

.w-\[7\.5rem\] {
  width: 7.5rem;
}

.max-w-\[44\.688rem\] {
  max-width: 44.688rem;
}

.max-w-\[20\.438rem\] {
  max-width: 20.438rem;
}

.max-w-\[15\.25rem\] {
  max-width: 15.25rem;
}

.max-w-\[16\.25rem\] {
  max-width: 16.25rem;
}

.max-w-none {
  max-width: none;
}

.max-w-\[25\.625rem\] {
  max-width: 25.625rem;
}

.max-w-\[37\.125rem\] {
  max-width: 37.125rem;
}

.max-w-\[36\.75rem\] {
  max-width: 36.75rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow-0 {
  flex-grow: 0;
}

.basis-full {
  flex-basis: 100%;
}

.basis-\[45\%\] {
  flex-basis: 45%;
}

.basis-\[2\.375rem\] {
  flex-basis: 2.375rem;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[1\.875rem\] {
  gap: 1.875rem;
}

.gap-y-3\.5 {
  row-gap: 0.875rem;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.gap-y-\[1\.875rem\] {
  row-gap: 1.875rem;
}

.gap-x-\[4\.4\%\] {
  -moz-column-gap: 4.4%;
       column-gap: 4.4%;
}

.gap-x-\[5\.3\%\] {
  -moz-column-gap: 5.3%;
       column-gap: 5.3%;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-x-\[1\.313rem\] {
  -moz-column-gap: 1.313rem;
       column-gap: 1.313rem;
}

.gap-x-\[6\.3\%\] {
  -moz-column-gap: 6.3%;
       column-gap: 6.3%;
}

.gap-x-\[6\.6\%\] {
  -moz-column-gap: 6.6%;
       column-gap: 6.6%;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-gold-200 {
  --tw-border-opacity: 1;
  border-color: rgb(186 157 15 / var(--tw-border-opacity));
}

.border-t-gray-100\/20 {
  border-top-color: rgb(68 83 92 / 0.2);
}

.border-b-gray-100\/20 {
  border-bottom-color: rgb(68 83 92 / 0.2);
}

.border-b-red-100 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(191 63 39 / var(--tw-border-opacity));
}

.border-b-gray-300 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(161 181 181 / var(--tw-border-opacity));
}

.border-b-gray-100 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(68 83 92 / var(--tw-border-opacity));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(225 229 229 / var(--tw-bg-opacity));
}

.bg-soft-black {
  --tw-bg-opacity: 1;
  background-color: rgb(35 45 51 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(68 83 92 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(201 208 208 / var(--tw-bg-opacity));
}

.bg-gold-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(211 185 96 / var(--tw-bg-opacity));
}

.py-\[1\.875rem\] {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pb-\[1\.875rem\] {
  padding-bottom: 1.875rem;
}

.pt-\[4\.625rem\] {
  padding-top: 4.625rem;
}

.pt-\[1\.875rem\] {
  padding-top: 1.875rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pt-\[5\.813rem\] {
  padding-top: 5.813rem;
}

.pt-3\.5 {
  padding-top: 0.875rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-\[3\.75rem\] {
  padding-top: 3.75rem;
}

.pb-\[0\.938rem\] {
  padding-bottom: 0.938rem;
}

.pt-\[4\.875rem\] {
  padding-top: 4.875rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pl-0 {
  padding-left: 0px;
}

.pr-\[2\.375rem\] {
  padding-right: 2.375rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-proxima {
  font-family: "Proxima Nova", sans-serif;
}

.font-clavo {
  font-family: "Clavo", serif;
}

.\!font-proxima {
  font-family: "Proxima Nova", sans-serif !important;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.\!text-\[1\.375rem\] {
  font-size: 1.375rem !important;
}

.text-\[1\.75rem\] {
  font-size: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.\!leading-\[1\.25\] {
  line-height: 1.25 !important;
}

.leading-none {
  line-height: 1;
}

.tracking-\[2px\] {
  letter-spacing: 2px;
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(142 147 150 / var(--tw-text-opacity));
}

.text-red-100 {
  --tw-text-opacity: 1;
  color: rgb(191 63 39 / var(--tw-text-opacity));
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(68 83 92 / var(--tw-text-opacity));
}

.text-gold-100 {
  --tw-text-opacity: 1;
  color: rgb(211 185 96 / var(--tw-text-opacity));
}

.\!text-soft-black {
  --tw-text-opacity: 1 !important;
  color: rgb(35 45 51 / var(--tw-text-opacity)) !important;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-soft-black {
  --tw-text-opacity: 1;
  color: rgb(35 45 51 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(225 229 229 / var(--tw-text-opacity));
}

.no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.outline-white {
  outline-color: #fff;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.text-40 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .text-40 {
    font-size: 2.5rem;
  }
}

.text-32 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .text-32 {
    font-size: 2rem;
  }
}

.text-20 {
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .text-20 {
    font-size: 1.25rem;
  }
}

.circle-icon {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
}

@media (min-width: 768px) {
  .circle-icon {
    height: 3.125rem;
  }

  .circle-icon {
    width: 3.125rem;
  }
}

.sticky {
  --tw-bg-opacity: 1;
  background-color: rgb(35 45 51 / var(--tw-bg-opacity));
}

@media (min-width: 1280px) {
  .sticky {
    background-color: transparent;
  }
}

.square-icon {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .square-icon {
    height: 3.125rem;
  }

  .square-icon {
    width: 3.125rem;
  }
}

.info-list {
  margin-bottom: 0px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  -moz-column-gap: 4%;
       column-gap: 4%;
  padding-left: 0px;
}

@media (min-width: 1024px) {
  .info-list {
    display: block;
  }
}

.info-list li {
  margin-bottom: 1.5rem;
  flex-basis: 48%;
}

@media (min-width: 1024px) {
  .info-list li {
    margin-bottom: 1.875rem;
  }
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hover\:decoration-red-100:hover {
  -webkit-text-decoration-color: #BF3F27;
          text-decoration-color: #BF3F27;
}

@media (min-width: 768px) {
  .md\:mb-\[1\.875rem\] {
    margin-bottom: 1.875rem;
  }

  .md\:mb-\[3\.125rem\] {
    margin-bottom: 3.125rem;
  }

  .md\:mb-\[2\.188rem\] {
    margin-bottom: 2.188rem;
  }

  .md\:mt-\[2\.875rem\] {
    margin-top: 2.875rem;
  }

  .md\:mt-\[4\.875rem\] {
    margin-top: 4.875rem;
  }

  .md\:mb-\[2\.25rem\] {
    margin-bottom: 2.25rem;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:mt-\[8\.75rem\] {
    margin-top: 8.75rem;
  }

  .md\:mt-\[10\.125rem\] {
    margin-top: 10.125rem;
  }

  .md\:mb-20 {
    margin-bottom: 5rem;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .md\:mt-\[15\.5rem\] {
    margin-top: 15.5rem;
  }

  .md\:-mt-\[20rem\] {
    margin-top: -20rem;
  }

  .md\:mb-4 {
    margin-bottom: 1rem;
  }

  .md\:mb-\[4\.375rem\] {
    margin-bottom: 4.375rem;
  }

  .md\:mr-5 {
    margin-right: 1.25rem;
  }

  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:mr-0 {
    margin-right: 0px;
  }

  .md\:ml-5 {
    margin-left: 1.25rem;
  }

  .md\:mb-\[0\.688rem\] {
    margin-bottom: 0.688rem;
  }

  .md\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .md\:mb-12 {
    margin-bottom: 3rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:min-h-\[26\.25rem\] {
    min-height: 26.25rem;
  }

  .md\:min-h-\[31\.25rem\] {
    min-height: 31.25rem;
  }

  .md\:min-h-\[35rem\] {
    min-height: 35rem;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-\[56\%\] {
    width: 56%;
  }

  .md\:w-\[34\%\] {
    width: 34%;
  }

  .md\:\!w-\[40\%\] {
    width: 40% !important;
  }

  .md\:max-w-none {
    max-width: none;
  }

  .md\:max-w-\[16rem\] {
    max-width: 16rem;
  }

  .md\:shrink {
    flex-shrink: 1;
  }

  .md\:basis-\[70\%\] {
    flex-basis: 70%;
  }

  .md\:basis-\[55\%\] {
    flex-basis: 55%;
  }

  .md\:basis-\[35\%\] {
    flex-basis: 35%;
  }

  .md\:basis-1\/2 {
    flex-basis: 50%;
  }

  .md\:basis-\[85\%\] {
    flex-basis: 85%;
  }

  .md\:basis-\[15\%\] {
    flex-basis: 15%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .md\:gap-x-\[5\.3\%\] {
    -moz-column-gap: 5.3%;
         column-gap: 5.3%;
  }

  .md\:gap-y-0 {
    row-gap: 0px;
  }

  .md\:gap-x-\[10\%\] {
    -moz-column-gap: 10%;
         column-gap: 10%;
  }

  .md\:gap-y-\[4\.875rem\] {
    row-gap: 4.875rem;
  }

  .md\:gap-y-10 {
    row-gap: 2.5rem;
  }

  .md\:gap-x-10 {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }

  .md\:gap-y-\[3\.375rem\] {
    row-gap: 3.375rem;
  }

  .md\:py-\[3\.75rem\] {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .md\:py-\[4\.875rem\] {
    padding-top: 4.875rem;
    padding-bottom: 4.875rem;
  }

  .md\:py-\[5\.625rem\] {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .md\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:pt-\[6\.25rem\] {
    padding-top: 6.25rem;
  }

  .md\:pb-\[3\.125rem\] {
    padding-bottom: 3.125rem;
  }

  .md\:pt-\[4\.375rem\] {
    padding-top: 4.375rem;
  }

  .md\:pb-\[5\.563rem\] {
    padding-bottom: 5.563rem;
  }

  .md\:pb-\[5\.688rem\] {
    padding-bottom: 5.688rem;
  }

  .md\:pt-\[3\.75rem\] {
    padding-top: 3.75rem;
  }

  .md\:pb-\[4\.5rem\] {
    padding-bottom: 4.5rem;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:pb-10 {
    padding-bottom: 2.5rem;
  }

  .md\:pt-8 {
    padding-top: 2rem;
  }

  .md\:pb-\[6\.563rem\] {
    padding-bottom: 6.563rem;
  }

  .md\:pb-\[3\.688rem\] {
    padding-bottom: 3.688rem;
  }

  .md\:pt-\[3\.125rem\] {
    padding-top: 3.125rem;
  }

  .md\:pt-\[9\.5rem\] {
    padding-top: 9.5rem;
  }

  .md\:pb-\[4\.813rem\] {
    padding-bottom: 4.813rem;
  }

  .md\:pb-\[8\.5rem\] {
    padding-bottom: 8.5rem;
  }

  .md\:pb-\[3\.375rem\] {
    padding-bottom: 3.375rem;
  }

  .md\:pb-\[4\.625rem\] {
    padding-bottom: 4.625rem;
  }

  .md\:pt-\[10\.375rem\] {
    padding-top: 10.375rem;
  }

  .md\:pb-20 {
    padding-bottom: 5rem;
  }

  .md\:pt-\[2\.813rem\] {
    padding-top: 2.813rem;
  }

  .md\:pr-\[15\%\] {
    padding-right: 15%;
  }

  .md\:pr-\[7\.438rem\] {
    padding-right: 7.438rem;
  }

  .md\:pb-\[4\.375rem\] {
    padding-bottom: 4.375rem;
  }

  .md\:pt-\[1\.875rem\] {
    padding-top: 1.875rem;
  }

  .md\:text-right {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:right-0 {
    right: 0px;
  }

  .lg\:-top-\[3\.75rem\] {
    top: -3.75rem;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:row-span-2 {
    grid-row: span 2 / span 2;
  }

  .lg\:ml-auto {
    margin-left: auto;
  }

  .lg\:mb-9 {
    margin-bottom: 2.25rem;
  }

  .lg\:mr-auto {
    margin-right: auto;
  }

  .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:-mt-\[7\.5rem\] {
    margin-top: -7.5rem;
  }

  .lg\:mb-\[1\.875rem\] {
    margin-bottom: 1.875rem;
  }

  .lg\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .lg\:mb-\[2\.375rem\] {
    margin-bottom: 2.375rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-3\.5 {
    margin-bottom: 0.875rem;
  }

  .lg\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .lg\:ml-\[9\.875rem\] {
    margin-left: 9.875rem;
  }

  .lg\:mb-\[5\.438rem\] {
    margin-bottom: 5.438rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:min-h-\[35rem\] {
    min-height: 35rem;
  }

  .lg\:min-h-\[26\.25rem\] {
    min-height: 26.25rem;
  }

  .lg\:max-w-\[41rem\] {
    max-width: 41rem;
  }

  .lg\:max-w-\[65\.9\%\] {
    max-width: 65.9%;
  }

  .lg\:max-w-\[42\%\] {
    max-width: 42%;
  }

  .lg\:basis-\[10\.75rem\] {
    flex-basis: 10.75rem;
  }

  .lg\:basis-\[72\%\] {
    flex-basis: 72%;
  }

  .lg\:basis-\[47\.1\%\] {
    flex-basis: 47.1%;
  }

  .lg\:basis-\[69\.7\%\] {
    flex-basis: 69.7%;
  }

  .lg\:basis-\[49\.5\%\] {
    flex-basis: 49.5%;
  }

  .lg\:basis-\[29\.4\%\] {
    flex-basis: 29.4%;
  }

  .lg\:basis-\[55\%\] {
    flex-basis: 55%;
  }

  .lg\:basis-\[12\.7\%\] {
    flex-basis: 12.7%;
  }

  .lg\:basis-\[82\.9\%\] {
    flex-basis: 82.9%;
  }

  .lg\:basis-\[54\.4\%\] {
    flex-basis: 54.4%;
  }

  .lg\:basis-\[45\.6\%\] {
    flex-basis: 45.6%;
  }

  .lg\:basis-\[26\.4\%\] {
    flex-basis: 26.4%;
  }

  .lg\:basis-\[68\.3\%\] {
    flex-basis: 68.3%;
  }

  .lg\:basis-\[10\.625rem\] {
    flex-basis: 10.625rem;
  }

  .lg\:basis-\[50\%\] {
    flex-basis: 50%;
  }

  .lg\:basis-\[20\.5\%\] {
    flex-basis: 20.5%;
  }

  .lg\:basis-\[73\.2\%\] {
    flex-basis: 73.2%;
  }

  .lg\:basis-\[26\.7\%\] {
    flex-basis: 26.7%;
  }

  .lg\:basis-\[66\.7\%\] {
    flex-basis: 66.7%;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:gap-x-\[2\.5rem\] {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }

  .lg\:gap-y-\[3\.75rem\] {
    row-gap: 3.75rem;
  }

  .lg\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .lg\:gap-y-\[5\.8\%\] {
    row-gap: 5.8%;
  }

  .lg\:gap-x-\[5\.8\%\] {
    -moz-column-gap: 5.8%;
         column-gap: 5.8%;
  }

  .lg\:border-r {
    border-right-width: 1px;
  }

  .lg\:border-r-gray-300 {
    --tw-border-opacity: 1;
    border-right-color: rgb(161 181 181 / var(--tw-border-opacity));
  }

  .lg\:px-\[4\.375rem\] {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
  }

  .lg\:pt-\[3\.75rem\] {
    padding-top: 3.75rem;
  }

  .lg\:pb-\[9\.313rem\] {
    padding-bottom: 9.313rem;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:pr-\[3\.75rem\] {
    padding-right: 3.75rem;
  }

  .lg\:pb-\[3\.75rem\] {
    padding-bottom: 3.75rem;
  }

  .lg\:pt-\[12\.5rem\] {
    padding-top: 12.5rem;
  }

  .lg\:pb-\[2\.938rem\] {
    padding-bottom: 2.938rem;
  }

  .lg\:pr-\[2\.375rem\] {
    padding-right: 2.375rem;
  }

  .lg\:pr-10 {
    padding-right: 2.5rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:\!text-\[2rem\] {
    font-size: 2rem !important;
  }

  .lg\:\!leading-\[2\.5rem\] {
    line-height: 2.5rem !important;
  }
}

@media (min-width: 1280px) {
  .xl\:ml-\[7\.5rem\] {
    margin-left: 7.5rem;
  }

  .xl\:mr-\[6\.438rem\] {
    margin-right: 6.438rem;
  }

  .xl\:ml-\[3\.75rem\] {
    margin-left: 3.75rem;
  }

  .xl\:mr-\[4\.625rem\] {
    margin-right: 4.625rem;
  }

  .xl\:ml-\[2\.125rem\] {
    margin-left: 2.125rem;
  }

  .xl\:mr-\[7\.438rem\] {
    margin-right: 7.438rem;
  }

  .xl\:block {
    display: block;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:min-h-\[43\.75rem\] {
    min-height: 43.75rem;
  }

  .xl\:w-\[36px\] {
    width: 36px;
  }

  .xl\:max-w-\[69\.5\%\] {
    max-width: 69.5%;
  }

  .xl\:gap-x-\[3\.438rem\] {
    -moz-column-gap: 3.438rem;
         column-gap: 3.438rem;
  }

  .xl\:gap-y-\[3\.75rem\] {
    row-gap: 3.75rem;
  }

  .xl\:gap-x-\[3\.125rem\] {
    -moz-column-gap: 3.125rem;
         column-gap: 3.125rem;
  }

  .xl\:gap-y-0 {
    row-gap: 0px;
  }

  .xl\:gap-x-\[4\.25rem\] {
    -moz-column-gap: 4.25rem;
         column-gap: 4.25rem;
  }

  .xl\:gap-y-\[4\.875rem\] {
    row-gap: 4.875rem;
  }

  .xl\:gap-x-\[3\.75rem\] {
    -moz-column-gap: 3.75rem;
         column-gap: 3.75rem;
  }

  .xl\:gap-x-\[5rem\] {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }

  .xl\:gap-y-10 {
    row-gap: 2.5rem;
  }

  .xl\:gap-y-\[3\.875rem\] {
    row-gap: 3.875rem;
  }

  .xl\:gap-x-\[4\.563rem\] {
    -moz-column-gap: 4.563rem;
         column-gap: 4.563rem;
  }

  .xl\:pt-\[9\.5rem\] {
    padding-top: 9.5rem;
  }

  .xl\:pt-\[16\.875rem\] {
    padding-top: 16.875rem;
  }

  .xl\:pb-20 {
    padding-bottom: 5rem;
  }

  .xl\:pt-\[18\.125rem\] {
    padding-top: 18.125rem;
  }

  .xl\:pt-10 {
    padding-top: 2.5rem;
  }

  .xl\:pb-\[6\.875rem\] {
    padding-bottom: 6.875rem;
  }

  .xl\:pr-7 {
    padding-right: 1.75rem;
  }

  .xl\:pt-\[18\.75rem\] {
    padding-top: 18.75rem;
  }
}