@layer components{
    .btn{
        @apply inline-block font-proxima border-2 font-bold px-8 py-[0.844rem] leading-none no-underline;
    }
    .btn.outline-white{
        @apply text-gray-400 border border-gray-100 hover:border-red-100 hover:text-red-100;
    }
    .btn.outline-gray{
        @apply text-gray-100 border-2 border-gray-100 hover:border-red-100 hover:text-red-100;
    }
    .btn.medium{
        @apply text-lg leading-none py-[0.938rem] px-[2.125rem];
    }

    .btn-link{
        @apply flex items-center no-underline;
    }
    .btn-link .text{
        @apply font-proxima font-semibold uppercase text-sm text-gray-200 leading-none tracking-[2px];
    }
    .btn-link:hover .text{
        @apply text-red-100;
    }
    .btn-link:hover svg *{
        @apply stroke-red-100;
    }
    .btn-link.alt .text{
        @apply font-clavo normal-case text-gray-100 tracking-normal;
    }
    .btn-link.alt:hover .text{
        @apply text-red-100;
    }
}