@layer components{
    .card{
        @apply no-underline;
    }
    .card .image{
        @apply block relative overflow-hidden;
    }
    .card .image img{
        @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] h-full w-full object-cover object-center;
    }
    .card .image.auto img{
        @apply relative top-0 left-0 translate-x-0 translate-y-0;
    }
    .card a{
        @apply no-underline;
    }
    
    .card.v1 .image{
        @apply h-[11.25rem] md:h-[13.813rem];
    }
    .card.v1 .title{
        @apply text-[1.125rem] md:text-[1.375rem] text-red-100;
    }

    .card.v2 .image{
        @apply h-[7.875rem] md:h-[7.875rem];
    }
    .card.v2 .title{
        @apply text-med-blue-200 text-[1.063rem];
    }
    .card.v2:hover .title{
        @apply text-gold-100;
    }

    .card.v3{
        @apply flex flex-col justify-between;
    }
    .card.v3 .details{
        @apply px-6 md:px-10 py-8;
    }
    .card.v3 .image{
        @apply h-[9rem] md:h-[13.75rem];
    }

    .card.v4 .image{
        @apply mb-[1.875rem];
    }
    .card.v4 .details{
        @apply relative pr-10 md:pr-[5.375rem];
    }
    .card.v4 .title{
        @apply text-red-100;
    }
    .card.v4 p{
        @apply font-proxima text-xs md:text-sm text-med-blue-400;
    }
    .card.v4 .circle-icon{
        @apply absolute -top-[0.875rem] right-0 z-[1];
    }

    .card.v5{
        @apply flex items-start gap-x-[2.125rem] mb-[2.063rem] md:mb-[2.875rem] -mx-7 px-7 md:px-0 md:mx-0 pt-6 border-t border-t-gray-500;
    }
    .card.v5:last-child{
        @apply mb-0;
    }
    .card.v5 .image{
        @apply hidden md:block basis-[10.063rem] shrink-0;
    }
    .card.v5 .details{
        @apply basis-full md:basis-auto;
    }
    .card.v5 h2{
        @apply text-[1.25rem] md:text-[1.375rem] leading-[1.2];
    }
    .card.v5 h2 a{
        @apply no-underline;
    }
    .card.v5 .posted-by{
        @apply block font-proxima font-normal text-sm md:text-base text-gray-300 leading-[1.1];
    }
    .card.v5 p{
        @apply text-gray-100;
    }
    .card.v5 .tags{
        @apply block font-proxima font-normal uppercase text-[0.625rem] md:text-xs text-gray-100 md:text-gray-200 tracking-[2px] leading-none;
    }

    .card.v6{
        @apply flex md:min-h-[11.25rem];
    }
    .card.v6 .details{
        @apply basis-full md:basis-auto px-5 py-5 bg-gold-100;
    }
    .card.v6 .details .title{
        @apply text-base text-gray-100 leading-[1.3];
    }
    .card.v6 .details p{
        @apply mb-0 font-proxima text-sm text-gray-100 leading-[1.3];
    }
    .card.v6 .image{
        @apply hidden md:block basis-[11.25rem] min-h-[11.25rem] shrink-0;
    }

    .card.v7 .image{
        @apply h-[12.875rem] lg:h-[19.688rem];
    }
    .card.v7 .title{
        @apply text-[1.25rem] md:text-[1.375rem] text-red-100;
    }
    .card.v7 .title a{
        @apply no-underline;
    }
    .card.v7 p{
        @apply mb-0;
    }

    .card.v8{
        @apply mb-10 lg:mb-[5.063rem];
    }
    .card.v8:last-child{
        @apply mb-0;
    }
    .card.v8 .image{
        @apply h-[22.5rem];
    }
    .card.v8 .image-caption{
        @apply text-xs leading-[1.3] text-gray-100;
    }
    .card.v8 .title-wrap{
        @apply relative pl-6 lg:pl-[9.875rem] lg:pr-10 pb-0 lg:pb-12;
    }
    .card.v8 .title-wrap .title{
        @apply text-red-100;
    }
    .card.v8 .title-wrap .number{
        @apply absolute font-proxima font-light text-gray-100/10 text-[9.375rem] -left-14 bottom-[50%] -mb-[4.688rem] lg:mb-0 lg:text-[12.5rem] lg:left-0 lg:-bottom-4 leading-none;
    }
    .card.v8 .image-wrap{
        @apply mb-[2.125rem] lg:mb-0;
    }

    .card.v9{
        @apply flex items-start;
    }
    .card.v9 .image{
        @apply h-[6.125rem] w-full basis-[6.875rem] shrink-0 ;
    }
    .card.v9 .details{
        @apply ml-5 basis-auto;
    }
    .card.v9 .number{
        @apply font-proxima font-semibold uppercase text-xs tracking-[2px] text-gray-200;
    }
    .card.v9 .title{
        @apply text-[0.938rem] text-red-100;
    }
    .card.v9.active .title{
        @apply text-gray-100;
    }

    .card.v10{
        @apply mb-[1.875rem] md:mb-[3.375rem];
    }
    .card.v10 .title{
        @apply text-red-100;
    }
    .card.v10 p{
        @apply max-w-[43.75rem];
    }
    .card .tags{
        @apply font-proxima font-semibold text-xs text-gray-200 uppercase;
    }
    .card .tags a,
    .card .tags span{
        @apply inline-block no-underline font-proxima font-semibold text-xs text-gray-200 uppercase tracking-[2px];
    }
    .card.v10 .tags .separator{
        @apply mx-[0.938rem];
    }

    .card.v11{
        @apply flex flex-wrap gap-x-[5.8%] mb-10 lg:mb-[4.375rem];
    }
    .card.v11:last-child{
        @apply mb-0;
    }
    .card.v11 .image{
        @apply basis-full mb-5 lg:mb-0 lg:basis-6/12;
    }
    .card.v11 .image img{
        @apply w-auto h-auto max-h-[43.75rem] lg:max-h-full;
    }
    .card.v11 .details{
        @apply basis-full lg:basis-[44.2%];
    }
    .card.v11 .title{
        @apply -mt-1.5 text-red-100;
    }

    .card.v12 .title{
        @apply text-red-100;
    }
    .card.v12 .image{
        @apply h-[12.875rem] md:h-[13.813rem];
    }
    .card.v12.big .image{
        @apply h-[12.875rem] md:h-[13.813rem] lg:h-[38.188rem];
    }
    .card.v12.big .image h2{
        @apply text-[1.375rem] lg:text-[2rem] !important;
    }
    .card.v12 p{
        @apply text-soft-black text-sm;
    }

    .card.v13{
        @apply max-w-none md:max-w-[31.25rem] lg:max-w-none;
    }
    .card.v13 .image{
        @apply h-[25rem] relative;
    }
    .card.v13 .image:after{
        content: '';
        @apply w-full h-2 absolute bottom-0 left-0 bg-red-100 opacity-0 invisible transition-opacity;
    }
    .card.v13:hover .image:after{
        @apply opacity-100 visible;
    }
    .card.v13 .image .square-icon{
        @apply absolute right-0 bottom-0 opacity-0 invisible transition-opacity bg-red-100;
    }
    .card.v13:hover .image .square-icon{
        @apply opacity-100 visible;
    }
    .card.v13 .title{
        @apply text-sm font-semibold text-soft-black px-7 lg:px-0;
    }
    .card.v13 .title span{
        @apply font-normal;
    }

    .card.v14 .image{
        @apply h-[13.625rem];
    }
    .card.v14 .image .square-icon{
        @apply absolute bottom-0 right-0 bg-red-100;
    }
}