@layer components{
    @media (max-width: 959px){
        .carousel-articles .owl-item{
            @apply !w-[17.813rem];
        }

        .carousel-narratives .owl-item{
            @apply !w-[12.5rem];
        }
    }

    .carousel-curator .owl-nav{
        @apply block !important;
    }
    .carousel-curator .owl-nav button{
        @apply absolute top-[50%] -mt-[3.125rem] flex items-center justify-center w-[3.125rem] h-[3.125rem] bg-red-100 rounded-none !important;
    }
    .carousel-curator .owl-nav button.owl-prev{
        @apply left-3 xl:left-[4.375rem];
    }
    .carousel-curator .owl-nav button.owl-next{
        @apply right-3;
    }
}