@layer components{
    .search-form{
        @apply relative;
    }
    .search-form input[type="text"]{
        @apply w-full text-[0.938rem] md:text-2xl text-gray-100 leading-none py-[0.469rem] md:py-[0.938rem] px-[2.125rem] md:px-[3.125rem] border-0 font-proxima font-normal outline-none;
    }
    .search-form input[type="text"]::-webkit-input-placeholder{
        @apply text-med-blue-400;
    }
    .search-form input[type="text"]::-moz-placeholder{
        @apply text-med-blue-400;
    }
    .search-form input[type="text"]:-ms-input-placeholder{
        @apply text-med-blue-400;
    }
    .search-form input[type="text"]:-moz-placeholder{
        @apply text-med-blue-400;
    }
    .search-form input[type="submit"]{
        @apply absolute top-[50%] left-[0.469rem] md:left-[0.875rem] -mt-[0.75rem] bg-[length:20px_20px] md:bg-contain bg-center bg-no-repeat bg-[url('./img/icons/icon-search.svg')] w-[1.5rem] h-[1.5rem] -indent-[999px] overflow-hidden;
    }

    .form-default .form-heading{
        @apply font-clavo font-medium text-[0.938rem] md:text-[0.938rem] text-soft-black;
    }
    .form-default label:not(.input-label),
    .form-default .label:not(.input-label){
        @apply block font-proxima font-semibold text-xs text-soft-black uppercase leading-none ;
    }
    .form-default input[type="text"],
    .form-default input[type="email"],
    .form-default input[type="tel"],
    .form-default input[type="number"],
    .form-default select{
        @apply block font-proxima text-base font-normal text-gray-200 w-full h-auto leading-none px-[0.813rem] py-[0.531rem] border border-med-blue-200 rounded-[3px] outline-none;
    }

    .form-default .input-label{
        @apply block font-proxima font-normal text-sm text-soft-black leading-[1.3] ;
    }
    .form-default input[type="checkbox"]{
        @apply scale-150 mt-1.5 outline-none accent-red-100;
    }

    .form-default select{
        @apply block appearance-none outline-none bg-[url('./img/icons/dropdown-arrow.svg')] bg-no-repeat bg-[center_right_1rem];
    }
}