@layer components{
    .masonry {
        @apply w-full overflow-hidden !important;
    }
    /*.masonry .grid-item,
    .masonry .grid-sizer{
        @apply w-[34%];
    }
    .masonry .gutter-sizer{
        @apply w-[10%];
    }
    .masonry .grid-item{
        @apply mb-[4.875rem];
    }*/
}