@layer components{
    .page-nav{
        @apply relative flex items-center md:items-start no-underline pt-[1.375rem] md:pt-0;
    }
    .page-nav .text span{
        @apply block;
    }
    .page-nav .text .label{
        @apply absolute left-0 top-0 md:relative font-proxima uppercase text-xs text-gray-200 mb-1 leading-none tracking-[2px];
    }
    .page-nav .text .title{
        @apply font-proxima text-gray-100 text-[0.938rem] font-bold mb-0 leading-none;
    }
    .page-nav.prev .text .title{
        @apply hidden md:block !important;
    }
    .page-nav.next{
        @apply flex-row-reverse md:flex-row;
    }
    .page-nav.next .text .title{
        @apply max-w-[10.625rem] md:max-w-none;
    }
}