@layer components{
    .page-banner{
        @apply relative flex justify-center bg-cover bg-no-repeat bg-center;
    }
    .page-banner .container{
        @apply flex flex-col;
    }
    .page-banner .inner{
        @apply flex flex-col justify-center;
    }
    .page-banner .suggested{
        @apply text-white font-proxima text-sm md:text-[1.063rem];
    }
    .page-banner .suggested span{
        @apply inline-block mr-4 md:mx-4;
    }
    .page-banner .subhead{
        @apply block text-xs md:text-base font-proxima leading-none uppercase tracking-[2px];
    }
    .page-banner .by{
        @apply text-[0.813rem] md:text-base;
    }
    .page-banner .background .image-col{
        @apply relative overflow-hidden;
    }
    .page-banner .background .image-col img{
        @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] h-full w-full object-cover object-center;
    }
    .page-banner .heading.h3{
        @apply font-semibold lg:font-bold !important;
    }
}