@layer components{
    .record-detail-head{
        @apply flex flex-wrap items-start justify-between;
    }
    .record-detail-head .mid{
        @apply min-h-[8.75rem] md:min-h-[15.5rem];
    }
    .record-detail-head .image{
        @apply absolute w-full h-[20.438rem] md:h-[37.563rem] flex justify-center border-[0.5px] border-dashed border-red-50 bottom-0;
    }
    .record-detail-head .image a{
        @apply inline-block relative;
    }
    .record-detail-head .image a img{
        @apply max-h-full w-auto;
    }
    .record-detail-head .image .square-icon{
        @apply absolute bottom-0 right-0 z-[1] bg-red-100;
    }
}