@layer components{
    .tabs{
        @apply pl-0 mb-0 list-none;
    }
    .tabs.v1 li{
        @apply relative mb-3.5;
    }
    .tabs.v1 li a{
        @apply no-underline text-sm leading-none pb-0.5 hover:border-b hover:border-b-red-100;
    }
    .tabs.v1 li.active a{
        @apply border-b border-b-red-100;
    }
    .tabs.v1 li.active:after{
        content: '';
        @apply block bg-white absolute top-[50%] -mt-[0.438rem] -right-[2.875rem] h-3.5 w-3.5 border-t border-t-gray-300 border-r border-r-gray-300 rotate-45;
    }

    .tabs.v2{

    }
    .tabs.v2 li{
        @apply py-1 lg:py-0 mr-0 lg:mr-5 inline-block mb-0 lg:mb-5;
    }
    .tabs.v2 li a{
        @apply block font-proxima border no-underline text-[0.938rem] lg:text-lg leading-none border-gray-100 rounded-full py-[0.594rem] lg:py-3 px-4 lg:px-5 hover:bg-gray-100 hover:text-gray-400;
    }
    .tabs.v2 li.active a{
        @apply bg-gray-100 text-gray-400;
    }

    .tabs.v3{
        @apply lg:flex lg:justify-between border-t border-b border-t-gray-100/20 border-b-gray-100/20  py-[1.438rem];
    }
    .tabs.v3 li{
        @apply inline-block lg:block font-proxima font-bold;
    }
    .tabs.v3 li a{
        @apply block no-underline hover:text-red-100;
    }
    .tabs.v3 li.active a{
        @apply text-red-100;
    }

    .tab-contents .tab-content{
        @apply hidden;
    }
    .tab-contents .tab-content.active{
        @apply block;
    }
}