/* base.css */
@layer base{
    html{
        @apply h-full overflow-hidden font-clavo text-base;
    }
    body *{
        @apply antialiased;
    }
    body {
        @apply h-full overflow-hidden font-clavo text-gray-100 overflow-x-hidden bg-white;
    }

    #root{
        @apply h-full overflow-hidden relative;
    }

    body.menu-shown{
        @apply overflow-hidden h-screen !important;
    }

    .h1,h1{
        @apply text-[1.75rem] md:text-5xl leading-tight font-proxima font-bold text-gray-100 mb-1.5; 
    }
    .h2,h2{
        @apply text-[1.375rem] md:text-4xl leading-tight font-proxima font-bold text-gray-100;
    }

    .h3,h3{
        @apply text-[1.75rem] md:text-[2rem] leading-tight font-proxima font-bold text-gray-100 mb-[1.125rem];
    }

    .h4,h4{
        @apply text-base md:text-[1.375rem] leading-tight font-proxima font-bold text-gray-100;
    }

    .h5,h5{
        @apply text-lg leading-tight font-proxima font-bold text-gray-100;
    }

    a{
        @apply underline;
    }

    p,li{
        @apply text-[0.938rem] md:text-base font-clavo font-normal text-gray-100;
    }
    p a{
        @apply text-red-100 no-underline hover:underline;
    }
    strong,
    b{
        @apply font-bold !important;
    }
    em,
    i:not([class]){
        @apply italic;
    }
    p,
    ul,
    ol{
        @apply mb-4;
    }

    ul{
        list-style-type: disc;
        @apply pl-7;
    }
    ul.alt li{
        @apply font-proxima;
    }

    ol{
        list-style-type: decimal;
        @apply pl-7;
    }

    iframe{
        @apply w-full;
    }

    sup,sub{
        @apply text-[65%] font-normal;
    }
    /*
    .page-content{
        @apply grid-flow-col;
    }

    .page-content .content{
        @apply relative;
    }

    .page-content a:not([class]){
        @apply decoration-aqua underline hover:text-aqua;
    }
*/
    .cta-text{
        @apply text-sm font-clavo font-normal ;
    }
    .callout{
        @apply text-[1.75rem] font-clavo font-normal ;
    }

    .caption{
        @apply text-sm font-clavo font-normal ;
    }

    .support{
        @apply text-sm font-clavo font-normal;
    }

    .lg-backdrop.in{
        @apply !opacity-80;
    }
    .lg-img-wrap img{
        @apply !max-h-[80vh];
    }
}