@layer utilities{
    .type-none{
        list-style-type: none;
    }

    .type-none li{
        @apply leading-loose;
    }

    .text-1_688{
        @apply text-[1.688rem]
    }
    .text-40{
        @apply text-[1.5rem] md:text-[2.5rem];
    }
    .text-32{
        @apply text-[1.5rem] md:text-[2rem];
    }
    .text-20{
        @apply text-[1.125rem] md:text-[1.25rem];
    }

    .circle-icon{
        @apply flex items-center justify-center w-10 h-10 md:h-[3.125rem] md:w-[3.125rem] rounded-full overflow-hidden;
    }
    .sticky{
        @apply bg-soft-black xl:bg-transparent;
    }
    .square-icon{
        @apply flex items-center justify-center w-10 h-10 md:h-[3.125rem] md:w-[3.125rem] overflow-hidden;
    }
    .info-list{
        @apply list-none pl-0 mb-0 flex flex-wrap gap-x-[4%] lg:block;
    }
    .info-list li{
        @apply mb-6 lg:mb-[1.875rem] basis-[48%];
    }
}