@layer base{
    #footer{
        @apply pb-[1.875rem] md:pb-[3rem] pt-[1.875rem] md:pt-[3.375rem];
    }
    #footer .copyright{
        @apply font-proxima text-xs leading-[1.4] md:text-[0.813rem] md:leading-[1.3] font-light text-gray-300;
    }
    #footer p{
        @apply font-proxima text-xs font-light text-med-blue-200 leading-[1.4] md:leading-[1.3];
    }
    #footer p a{
        @apply text-med-blue-200 underline;
    }
    #footer .menu{
        @apply list-none p-0 m-0 grid grid-cols-2 lg:grid-cols-3 lg:gap-x-4 xl:gap-x-[3.625rem] md:gap-y-2;
    }
    #footer .menu li a{
        @apply text-sm font-normal leading-none text-gray-400 no-underline hover:text-gold-100;
    }
    #footer .logo{
        @apply block text-[1.387rem] font-medium text-white leading-[1.1] w-[6.25rem] mb-0 no-underline;
    }
    #footer .logos{
        @apply flex items-center;
    }
    #footer .logos a{
        @apply pr-4 mr-4 border-r border-gray-500;
    }
    #footer .logos a:last-child{
        @apply pr-0 border-0 mr-0;
    }
}