@layer base{
    #header{
        @apply absolute top-0 left-0 z-10 flex justify-center w-full h-[3.75rem] border border-b-white/20 bg-gray-100 xl:bg-transparent xl:border-none xl:w-[3.75rem] xl:h-full;
    }
    #header.sticky{
        @apply bg-gray-100 xl:bg-transparent;
    }
    #header > .container{
        @apply relative h-full flex items-center flex-col;
    }
    #header .site-title{
        @apply absolute text-sm text-white  w-[10.125rem] left-7 top-[50%] -mt-2.5 xl:opacity-[0.1] xl:mt-0 xl:rotate-90 xl:-left-[50px] xl:top-[120px] transition-colors;
    }
    #header.dark .site-title{
        @apply xl:text-gray-100 xl:opacity-100;
    }
    #header .site-title a{
        @apply no-underline;
    }
    #header .nav-toggle{
        @apply absolute top-[50%] left-[inherit] right-7 xl:right-0 xl:left-[50%] z-[2] -mt-[0.406rem] -ml-[0.75rem] h-2.5 w-7 xl:w-[1.5rem] xl:h-[0.813rem];
    }
    #header .nav-toggle .bars{
        @apply flex flex-col justify-between h-full w-full;
    }
    #header .nav-toggle .bars span{
        @apply block h-[2px] w-full bg-white xl:h-[1px] transition-colors;
    }
    #header.dark .nav-toggle .bars span{
        @apply xl:bg-gray-100;
    }
    #header .nav-toggle .bars span.mid{
        @apply hidden xl:block;
    }
    #header .search-toggle{
        @apply absolute top-[50%] left-[inherit] right-[4.75rem] xl:left-[50%] z-[2] -mt-3 xl:-mt-[4.406rem] xl:-ml-[0.75rem] w-[1.5rem] h-[1.5rem];
    }

    #header.dark .search-toggle svg *{
        @apply xl:stroke-gray-100;
    }

    #header .line{
        @apply absolute bottom-0 right-0 w-[1px] h-full bg-gray-100/20 hidden xl:block;
    }
    #header .line .scrollbar{
        /*transition: background-color .2s ease-in-out;*/
        @apply block h-full origin-[center_top] bg-white transition-colors;
    }
    #header.dark .line .scrollbar{
        @apply xl:bg-gray-100;
    }

    #header .main-navigation .site-title{
        @apply absolute text-sm text-white  w-[10.125rem] left-7 top-[50%] -mt-2.5;
    }
    #header .main-navigation .site-title a{
        @apply no-underline;
    }
    #header .main-navigation{
        @apply fixed xl:absolute top-0 -left-[100%] z-20 h-full w-screen bg-soft-black transition-all duration-700 ease-in-out opacity-0 invisible;
    }
    #header .main-navigation.menu-shown{
        @apply opacity-100 visible left-0;
    }
    #header .main-navigation .container{
        @apply block overflow-y-auto lg:overflow-y-visible lg:flex flex-col justify-between h-full px-0 pt-[5.5rem] xl:px-7 lg:pt-[12.313rem] xl:pt-0 lg:w-full xl:w-9/12;
    }
    #header .main-navigation header{
        @apply absolute top-0 left-0 z-10 w-full xl:relative flex justify-end pt-0 h-[3.75rem] border-b border-b-white/20 bg-soft-black xl:bg-transparent xl:border-none xl:h-[auto] xl:pt-[3.375rem];
    }
    #header .main-navigation header .close{
        @apply flex items-center w-min no-underline mr-7 xl:mr-0;
    }
    #header .main-navigation header .close .text{
        @apply hidden xl:block mr-[2.125rem] font-proxima font-semibold text-sm text-med-blue-300 uppercase tracking-[2px];
    }
    #header .main-navigation header .close:hover .text{
        @apply text-gold-100;
    }
    #header .main-navigation header .close:hover svg path{
        @apply stroke-gold-100;
    }
    #header .main-navigation .menu-container{
        @apply px-7 mb-7 lg:mb-0 xl:px-0;
    }
    #header .main-navigation .menu-container .menu{
        @apply list-none p-0 m-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-[4.625rem] gap-y-7 xl:gap-y-[3.313rem];
    }
    #header .main-navigation .menu-container .menu a{
        @apply text-gray-400 font-proxima font-bold text-[1.375rem] md:text-[2rem] no-underline leading-none hover:text-gold-100;
    }
    #header .main-navigation .menu-container .menu span{
        @apply block mt-[0.125rem] lg:mt-3 text-med-blue-200 text-base;
    }
    #header .main-navigation footer{
        @apply flex flex-col lg:flex-row lg:justify-between lg:items-center pb-[3.438rem] xl:pb-[7.813rem];
    }
    #header .main-navigation footer .btn-wrap{
        @apply mb-8 lg:mb-0  px-7 xl:px-0;
    }
    #header .main-navigation footer .text-wrap{
        @apply flex flex-col pt-7 border-t border-t-white/20 lg:border-t-0 lg:pt-0 md:flex-row md:items-center px-7 xl:px-0;
    }
    #header .main-navigation footer .text-wrap p{
        @apply font-proxima font-light text-xs text-med-blue-200 mb-0;
    }

    .logo-wrap{
        @apply absolute left-0 top-0 z-[2] w-full;
    }
    .logo-wrap .container{
        @apply relative;
    }
    .logo-wrap a{
        @apply absolute left-7 no-underline inline-block;
    }
    .logo-wrap .site-title{
        @apply block text-[2rem] font-medium text-white leading-[1.1] mb-[0.813rem];
    }
    .logo-wrap .tag-line{
        @apply block font-proxima text-sm font-normal text-white w-[7.5rem] leading-[1.2];
    }

    .logo-wrap .logo.dark .site-title,
    .logo-wrap .logo.dark .tag-line{
        @apply text-gray-100;
    }
}